<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhzhgang.mall.search.mapper.SearchItemMapper" >
  <select id="getItemList" resultType="com.zhzhgang.mall.common.pojo.SearchItem">
    select
      a.`id`,
      a.`title`,
      a.`sell_point`,
      a.`image`,
      a.`price`,
      b.`name` category_name,
      c.`item_desc`
    from
      mall_item a
      left join mall_item_cat b on a.`cid` = b.`id`
      left join mall_item_desc c on a.`id` = c.`item_id`
    where
	  a.`status` = 1
  </select>

  <select id="getItemById" parameterType="long" resultType="com.zhzhgang.mall.common.pojo.SearchItem">
    select
      a.`id`,
      a.`title`,
      a.`sell_point`,
      a.`image`,
      a.`price`,
      b.`name` category_name,
      c.`item_desc`
    from
      mall_item a
      left join mall_item_cat b on a.`cid` = b.`id`
      left join mall_item_desc c on a.`id` = c.`item_id`
    where
      a.`status` = 1
      and a.id = #{itemId}
  </select>
</mapper>